@font-face {
  font-family: "Source Sans Pro Black";
  src: url(../fonts/SourceSansPro-Black.ttf);
}
@font-face {
  font-family: "Source Sans Pro Italic";
  src: url(../fonts/SourceSansPro-BlackItalic.ttf);
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: "Source Sans Pro Bold Italic";
  src: url(../fonts/SourceSansPro-BoldItalic.ttf);
}
@font-face {
  font-family: "Source Sans Pro Extralight";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: "Source Sans Pro Extralight Italic";
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "Source Sans Pro Italic";
  src: url(../fonts/SourceSansPro-Italic.ttf);
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: "Source Sans Pro Light Italic";
  src: url(../fonts/SourceSansPro-LightItalic.ttf);
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "Source Sans Pro SemiBold";
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: "Source Sans Pro SemiBold Italic";
  src: url(../fonts/SourceSansPro-SemiBoldItalic.ttf);
}
.wrap {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s all ease-in;
  transition: 1s all ease-in;
}

img#drop_arrow {
  width: 10.4%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  background-image: url(../images/bridge.png);
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 117px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo_png {
  width: 20.911%;
  height: 100%;
}

.button1 {
  font-size: 15px;
  font-family: "Source Sans Pro";
  color: white;
  background-color: #3c9bda;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  padding: 11px 15px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.button1:hover {
  border-radius: 10px;
  border: 2px solid #005e9c;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 54.53%;
  position: relative;
  top: -14%;
}

.menu_btns {
  font-size: 15px;
  font-family: "Source Sans Pro";
  color: white;
  text-transform: uppercase;
  line-height: 1.6;
}

pre {
  margin: 0 !important;
}

.menu_btns1 {
  font-size: 15px;
  font-family: "Source Sans Pro";
  color: white;
  text-transform: uppercase;
  line-height: 1.6;
  width: 77px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: context-menu;
  height: 158px;
  position: relative;
  top: 57%;
}

.text_bottom_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 682px;
  width: 90.28%;
}

.text_bottom_header h1 {
  font-size: 64.534px;
  font-family: "Source Sans Pro";
  color: white;
  font-weight: bold;
  margin: 0;
}

.text_bottom_header p {
  font-size: 32px;
  font-family: "Source Sans Pro";
  color: #fefefe;
  line-height: 1.313;
}

.button2 {
  font-size: 18px;
  font-family: "Source Sans Pro";
  color: white;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  background-color: #3c9bda;
  border: none;
  padding: 18px 57px;
  -webkit-transition: 1s;
  transition: 1s;
}

.button2:hover {
  border-radius: 10px;
  border: 2px solid #005e9c;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_main_top {
  height: 478px;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white_main_top h1 {
  font-size: 42px;
  font-family: "Source Sans Pro";
  color: #130e14;
  font-weight: bold;
  line-height: 0.929;
  margin: 0;
}

.white_main_top p {
  font-size: 21px;
  font-family: "Source Sans Pro";
  color: #130e14;
  line-height: 1.857;
}

.white_main_top button {
  font-size: 15px;
  font-family: "Source Sans Pro";
  color: #181818;
  text-transform: uppercase;
  line-height: 1.6;
  background-color: #ffff;
  border: 2px solid #181818;
  letter-spacing: 1px;
  padding: 18px 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.white_main_top button:hover {
  border-radius: 10px;
}

.iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 604px;
  background-color: #e9e9e9;
}

.left_part_iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.left_part_iframe h1 {
  font-size: 42px;
  font-family: "Source Sans Pro";
  color: #130e14;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.left_part_iframe p {
  font-size: 21px;
  font-family: "Source Sans Pro";
  color: #130e14;
  line-height: 1.857;
  text-align: left;
}

.bottom_main {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9e9e9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom_main button {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 21px;
  font-family: "Source Sans Pro";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  letter-spacing: 1px;
  background-color: #3c9bda;
  padding: 24px 37px;
  border: none;
}

.thin_block {
  width: 100%;
  height: 1088px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h1_block h1 {
  font-size: 42px !important;
  font-family: "Source Sans Pro" !important;
  color: #130e14 !important;
  font-weight: bold !important;
  line-height: 0.929 !important;
  text-align: left !important;
  margin: 28.14px 0 !important;
}

.h1_block {
  -ms-grid-column-span: 12;
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.text_main_block1 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.text_main_block2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

li {
  list-style: none;
  font-size: 21px;
  font-family: "Source Sans Pro";
  color: #130e14;
  line-height: 1.857;
  text-align: left;
}

li::before {
  content: "-";
  margin-right: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

.thin_block h1 {
  font-size: 16px;
  font-family: "Source Sans Pro";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

.thin_block p {
  font-size: 21px;
  font-family: "Source Sans Pro";
  color: #130e14;
  line-height: 1.857;
  text-align: left;
}

.text_main_block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.text_main_block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.text_main_block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.text_main_block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.text_main_block3 h1 {
  font-size: 16px;
  font-family: "Source Sans Pro";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10.72px 0 !important;
  text-align: left;
  line-height: 1.5 !important;
}

.text_main_block4 ul {
  padding-top: 50px;
}

.margin_block {
  width: 90.28%;
  height: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.img_block img {
  width: 61.198%;
}

.left_footer {
  width: 79.28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 321px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.right_footer {
  height: 296px;
  width: 20.72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 4.5%;
}

.right_footer img {
  width: 100%;
}

footer {
  width: 100%;
  height: 511px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_footer p {
  font-size: 12px;
  font-family: "Source Sans Pro";
  color: #787878;
  line-height: 1.917;
  text-align: left;
}

.left_footer p {
  font-size: 13px;
  font-family: "Source Sans Pro";
  color: #787878;
  text-transform: uppercase;
  line-height: 2.846;
  text-align: left;
}

.bottom_main button:hover {
  border-radius: 10px;
  border: 2px solid #005e9c;
}

.menu1 {
  width: 203px;
  height: 121px;
  text-align: right;
  font-size: 13px;
  font-family: "Source Sans Pro";
  color: white;
  text-transform: uppercase;
  line-height: 3.308;
  background-color: #3c3a41d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  display: flex;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.menu_btns1:hover .menu1 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

pre {
  -webkit-transition: 1s;
  transition: 1s;
}

.menu_btns1:hover pre {
  color: lightsteelblue;
}

.menu1 > p {
  padding-right: 9px;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu1 > p:hover {
  width: 93.5%;
  color: lightblue;
}

@media screen and (max-width: 762px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 54.53%;
    position: relative;
    top: 0;
  }

  .menu_btns1 {
    font-size: 15px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    width: 42px;
    -webkit-transition: 1s;
    cursor: context-menu;
    height: 72px;
    position: relative;
    top: 44%;
  }

  .menu1 {
    width: 101.5px;
    height: 60.5px;
    text-align: right;
    font-size: 6.5px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 3.308;
    background-color: #3c3a41d1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  pre {
    font-size: 7.5px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .white_main_top h1 {
    font-size: 21px;
    font-family: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    line-height: 0.929;
    margin: 0;
  }

  .white_main_top p {
    font-size: 10.5px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
  }

  .white_main_top button {
    font-size: 7.5px;
    -webkit-transition: 1s;
    transition: 1s;
    font-family: "Source Sans Pro";
    color: #181818;
    text-transform: uppercase;
    line-height: 1.6;
    background-color: #ffff;
    border: 2px solid #181818;
    letter-spacing: 1px;
    padding: 9px 25px;
  }

  .left_part_iframe h1 {
    font-size: 21px;
    font-family: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }

  .left_part_iframe p {
    font-size: 10.5px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .h1_block h1 {
    font-size: 21px !important;
    font-family: "Source Sans Pro" !important;
    color: #130e14 !important;
    font-weight: bold !important;
    line-height: 0.929 !important;
    text-align: left !important;
    margin: 28.14px 0 !important;
  }

  .thin_block h1 {
    font-size: 8px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
  }

  .thin_block p {
    font-size: 10.5px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  li {
    list-style: none;
    font-size: 10.5px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .text_main_block3 h1 {
    font-size: 8px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10.72px 0 !important;
    text-align: left;
    line-height: 1.5 !important;
  }

  .right_footer p {
    font-size: 6px;
    font-family: "Source Sans Pro";
    color: #787878;
    line-height: 1.917;
    text-align: left;
  }

  .left_footer p {
    font-size: 6.5px;
    font-family: "Source Sans Pro";
    color: #787878;
    text-transform: uppercase;
    line-height: 2.846;
    text-align: left;
  }

  .bottom_main button {
    font-size: 10.5px;
    -webkit-transition: 1s;
    transition: 1s;
    font-family: "Source Sans Pro";
    color: white;
    transition: 1s;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    background-color: #3c9bda;
    padding: 12px 18.5px;
    border: none;
  }

  .button2 {
    font-size: 9px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    background-color: #3c9bda;
    border: none;
    -webkit-transition: 1s;
    transition: 1s;
    padding: 9px 28.5px;
  }

  .text_bottom_header p {
    font-size: 16px;
    font-family: "Source Sans Pro";
    color: #fefefe;
    line-height: 1.313;
  }

  .text_bottom_header h1 {
    font-size: 32.267px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    margin: 0;
  }

  .menu_btns {
    font-size: 7.5px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .button1 {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 7.5px;
    font-family: "Source Sans Pro";
    color: white;
    background-color: #3c9bda;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    padding: 5.5px 7.5px;
    border: none;
  }

  header {
    width: 100%;
    background-image: url(../images/bridge.png);
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .white_main_top {
    height: 239px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    height: 302px;
    background-color: #e9e9e9;
  }

  .thin_block {
    width: 100%;
    height: 544px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [12];
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .margin_block {
    width: 90.28%;
    height: 544px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .bottom_main {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e9e9e9;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer {
    width: 100%;
    height: 351px;
    background-color: #181818;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  iframe.Video {
    height: 139.5px !important;
  }
}
@media screen and (max-width: 382px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 54.53%;
    position: relative;
    top: 0%;
  }

  img#drop_arrow {
    width: 5.4%;
  }

  .menu_btns1:hover .menu1 {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu1 {
    width: 50px;
    height: 30px;
    text-align: right;
    font-size: 3.25px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 3.308;
    background-color: #3c3a41d1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  pre {
    font-size: 3.75px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .white_main_top h1 {
    font-size: 10.5px;
    font-amily: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    line-height: 0.929;
    margin: 0;
  }

  .menu_btns1 {
    font-size: 15px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    width: 19px;
    -webkit-transition: 1s;
    cursor: context-menu;
    height: 36px;
    position: relative;
    top: 42%;
  }

  .bottom_main button:hover {
    border-radius: 10px;
    border: 1px solid #005e9c;
  }

  .button2:hover {
    border-radius: 10px;
    border: 1px solid #005e9c;
  }

  .button1:hover {
    border-radius: 10px;
    border: 1px solid #005e9c;
  }

  .white_main_top p {
    font-size: 5.25px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
  }

  .white_main_top button {
    font-size: 3.75px;
    -webkit-transition: 1s;
    transition: 1s;
    font-family: "Source Sans Pro";
    color: #181818;
    text-transform: uppercase;
    line-height: 1.6;
    background-color: #ffff;
    border: 1px solid #181818;
    letter-spacing: 1px;
    padding: 4.5px 12.5px;
  }

  .left_part_iframe h1 {
    font-size: 10.5px;
    font-family: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }

  .left_part_iframe p {
    font-size: 3.75px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .h1_block h1 {
    font-size: 10.5px !important;
    font-family: "Source Sans Pro" !important;
    color: #130e14 !important;
    font-weight: bold !important;
    line-height: 0.929 !important;
    text-align: left !important;
    margin: 14.07px 0 !important;
  }

  .thin_block h1 {
    font-size: 4px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
  }

  .thin_block p {
    font-size: 5.25px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  li {
    list-style: none;
    font-size: 5.25px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .text_main_block3 h1 {
    font-size: 4px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5.36px 0 !important;
    text-align: left;
    line-height: 1.5 !important;
  }

  .right_footer p {
    font-size: 3px;
    font-family: "Source Sans Pro";
    color: #787878;
    line-height: 1.917;
    text-align: left;
  }

  .left_footer p {
    font-size: 3.25px;
    font-family: "Source Sans Pro";
    color: #787878;
    text-transform: uppercase;
    line-height: 2.846;
    text-align: left;
  }

  .bottom_main button {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 5.25px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    background-color: #3c9bda;
    padding: 6px 9.25px;
    border: none;
  }

  .button2 {
    font-size: 4.5px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    background-color: #3c9bda;
    border: none;
    -webkit-transition: 1s;
    transition: 1s;
    padding: 4.5px 14.25px;
  }

  .text_bottom_header p {
    font-size: 8px;
    font-family: "Source Sans Pro";
    color: #fefefe;
    line-height: 1.313;
  }

  .text_bottom_header h1 {
    font-size: 16.1335px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    margin: 0;
  }

  .menu_btns {
    font-size: 3.75px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .button1 {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 3.75px;
    font-family: "Source Sans Pro";
    color: white;
    background-color: #3c9bda;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    padding: 2.75px 3.75px;
    border: none;
  }

  header {
    width: 100%;
    background-image: url(../images/bridge.png);
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .white_main_top {
    height: 119.5px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    height: 151px;
    background-color: #e9e9e9;
  }

  .thin_block {
    width: 100%;
    height: 272px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [12];
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .margin_block {
    width: 90.28%;
    height: 272px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .bottom_main {
    width: 100%;
    height: 37.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e9e9e9;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer {
    width: 100%;
    height: 175.5px;
    background-color: #181818;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .left_footer {
    width: 79.28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 175px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .right_footer {
    height: 150px;
    width: 20.72%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 4.5%;
  }

  iframe.Video {
    height: 69.75px !important;
  }

  .text_main_block4 ul {
    padding-top: 0;
  }
}
@media screen and (max-width: 153px) {
  .menu_btns {
    font-size: 1.875px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .button1 {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 1.875px;
    font-family: "Source Sans Pro";
    color: white;
    background-color: #3c9bda;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    padding: 1.375px 1.875px;
    border: none;
  }

  pre {
    font-size: 1.875px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .menu1 {
    width: 25px;
    height: 15px;
    text-align: right;
    font-size: 1.625px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 3.308;
    background-color: #3c3a41d1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  .menu_btns1 {
    font-size: 15px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    width: 9px;
    -webkit-transition: 1s;
    cursor: context-menu;
    height: 18px;
    position: relative;
    top: 26%;
  }

  .menu1 > p {
    padding-right: 2px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .text_bottom_header h1 {
    font-size: 8px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    margin: 0;
  }

  .text_bottom_header p {
    font-size: 4px;
    font-family: "Source Sans Pro";
    color: #fefefe;
    line-height: 1.313;
  }

  .button2 {
    font-size: 2.25px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    background-color: #3c9bda;
    border: none;
    -webkit-transition: 1s;
    transition: 1s;
    padding: 2.25px 7.125px;
  }

  .text_bottom_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 341px;
    width: 90.28%;
  }

  header {
    width: 100%;
    background-image: url(../images/bridge.png);
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .white_main_top h1 {
    font-size: 5.25px;
    font-amily: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    line-height: 0.929;
    margin: 0;
  }

  .white_main_top p {
    font-size: 2.625px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
  }

  .white_main_top button {
    font-size: 1.875px;
    -webkit-transition: 1s;
    transition: 1s;
    font-family: "Source Sans Pro";
    color: #181818;
    text-transform: uppercase;
    line-height: 1.6;
    background-color: #ffff;
    border: 1px solid #181818;
    letter-spacing: 1px;
    padding: 2.25px 6.25px;
  }

  .white_main_top {
    height: 59.75px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .white_main_top {
    height: 59.75px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .left_part_iframe p {
    font-size: 1.875px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    height: 75.5px;
    background-color: #e9e9e9;
  }

  iframe.Video {
    height: 34.875px !important;
  }

  .left_part_iframe h1 {
    font-size: 5.25px;
    font-family: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }

  .h1_block h1 {
    font-size: 2.625px !important;
    font-family: "Source Sans Pro" !important;
    color: #130e14 !important;
    font-weight: bold !important;
    line-height: 0.929 !important;
    text-align: left !important;
    margin: 3.5px 0 !important;
  }

  .thin_block p {
    font-size: 2.625px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .thin_block h1 {
    font-size: 2px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
  }

  li {
    list-style: none;
    font-size: 2.625px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .bottom_main button {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 2.625px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    background-color: #3c9bda;
    padding: 3px 4.625px;
    border: none;
  }
}
@media screen and (min-width: 2362px) {
  .img_block img {
    width: 49.198%;
    height: 332px;
  }

  .thin_block p {
    font-size: 32px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  li {
    list-style: none;
    font-size: 25px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .text_main_block3 h1 {
    font-size: 32px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10.72px 0 !important;
    text-align: left;
    line-height: 1.5 !important;
  }

  .thin_block h1 {
    font-size: 32px;
    font-family: "Source Sans Pro";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
  }

  .left_part_iframe p {
    font-size: 32px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
    text-align: left;
  }

  .left_part_iframe h1 {
    font-size: 51px;
    font-family: "Source Sans Pro";
    color: #130e14;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }

  iframe {
    width: 39.5%;
    height: 491px;
  }

  .left_footer p {
    font-size: 26px;
    font-family: "Source Sans Pro";
    color: #787878;
    text-transform: uppercase;
    line-height: 2.846;
    text-align: left;
  }

  .right_footer {
    height: 483px;
    width: 20.72%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 4.5%;
  }

  .right_footer p {
    font-size: 20px;
    font-family: "Source Sans Pro";
    color: #787878;
    line-height: 1.917;
    text-align: left;
  }

  .bottom_main button {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 41px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    background-color: #3c9bda;
    padding: 24px 37px;
    border: none;
  }

  .white_main_top p {
    font-size: 31px;
    font-family: "Source Sans Pro";
    color: #130e14;
    line-height: 1.857;
  }

  .white_main_top button {
    font-size: 38px;
    font-family: "Source Sans Pro";
    color: #181818;
    text-transform: uppercase;
    line-height: 1.6;
    background-color: #ffff;
    border: 2px solid #181818;
    letter-spacing: 1px;
    padding: 18px 50px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .menu_btns {
    font-size: 30px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .button1 {
    font-size: 25px;
    font-family: "Source Sans Pro";
    color: white;
    background-color: #3c9bda;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    padding: 11px 15px;
    border: none;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .menu_btns1 {
    font-size: 30px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    width: 77px;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: context-menu;
    height: 158px;
    position: relative;
    top: 57%;
  }

  img#drop_arrow {
    width: 10.4%;
  }

  .menu1 {
    width: 406px;
    height: 220px;
    text-align: right;
    font-size: 13px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 3.308;
    background-color: #3c3a41d1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  .menu1 {
    width: 406px;
    height: 220px;
    text-align: right;
    font-size: 26px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 3.308;
    background-color: #3c3a41d1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  .menu1 > p {
    padding-right: 35px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .menu_btns1 {
    font-size: 30px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    width: 184px;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: context-menu;
    height: 264px;
    position: relative;
    top: 56%;
  }

  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 198px;
  }

  .margin_block {
    width: 90.28%;
    height: 1395px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .bottom_main {
    width: 100%;
    height: 203px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e9e9e9;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    height: 867px;
    background-color: #e9e9e9;
  }

  .white_main_top {
    height: 624px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .text_bottom_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 784px;
    width: 90.28%;
  }

  header {
    width: 100%;
    background-image: url(../images/bridge.png);
    height: 1043px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text_bottom_header p {
    font-size: 45px;
    font-family: "Source Sans Pro";
    color: #fefefe;
    line-height: 1.313;
  }

  .text_bottom_header h1 {
    font-size: 80.534px;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: bold;
    margin: 0;
  }

  .button2 {
    font-size: 32px;
    font-family: "Source Sans Pro";
    color: white;
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    background-color: #3c9bda;
    border: none;
    padding: 18px 57px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .left_footer {
    width: 79.28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 410px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}